@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap');

/*
font-family: 'Manrope', sans-serif;
*/


/*---------Definições genéricas ------------------*/

.titulo2{
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: gray 2px 2px 3px;
      
}

/*------------------------------------------------*/

.home-link{
    margin-left: 15%;
    padding: 15px 4px;
}

.home-link:hover{
    background: rgb(150,25,139);
    background: linear-gradient(90deg, rgba(150,25,139) 0%, rgba(106,209,209) 90%);
    color: black;
    border-top-left-radius: 30px;
    border-bottom-right-radius:60px;
    border-left: 5px solid white;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight:200;

    background: #e2f1f1;
   
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    margin: -70px auto auto;
    background: black;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index:100;

    background: rgb(46,46,46);
    background: linear-gradient(90deg, rgba(46,46,46,1) 2%, rgba(73,72,72,1) 100%);

}

.header-links{
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
}

.header-links a{
    padding: 15px 20px;
}

.header-links a:hover{
    text-align: center;
    padding: 18px 20px;


    background: rgb(70,200,162);
    background: linear-gradient(281deg, rgba(70,200,162,1) 0%, rgba(7,203,145,1) 26%, rgb(22, 86, 134) 87%);

    box-sizing: border-box;
    border-radius: 3px;

    
}

.destaque{
    color: white;
    font-weight: 800;
    text-shadow:lightblue 1px 1px 1px;
}

.header div a{
    text-decoration: none;
    font-weight:500;
    color: white;
}

iframe{
    box-shadow: 0 0 1em gray;
}


.img-apresentacao{
    background: url(assets/img-fundo.jpg);
    height: 90vh;
    margin-top: 70px;
    margin-left: auto;
    margin-right:auto;

    box-shadow: 0 0 1em gray;
}

.boas-vindas{
    color: white;
    border:1px solid gray;
    width:40%;
    height:40%;
    text-align: center;
 
    background: rgb(46,46,46);
    background: linear-gradient(90deg, rgba(46,46,46,0.7) 2%, rgba(112,207,209,0.5) 55%, rgba(73,72,72,0.7) 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    position: relative;
    top: 30%;
    left: 30%;

    border-radius: 5px;

}

.boas-vindas h1{
    font-size: 48px;
    text-shadow: gray 2px 2px 3px;

}

.boas-vindas p{
    font-size: 28px;
}

.box-centralizado{
    text-align: center;
    width: 650px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 300;

}



.main-container{
    padding: 0;
    
}

.container-imgs{
    padding: 30px;
    width: 1024px;
    margin: 0 auto;
    
    display: flex;    
    flex-direction: row;
    flex-wrap: wrap;
}

.img-quarto{
    width: 300px;
    max-width: 1024px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    margin: 10px auto;
    padding-top: 20px;

    box-shadow: 0 0 1em gray;
    border-radius: 20px;
    background: white;
    
}

#rota{
    margin-bottom: 50px;
}

.img-quarto img{
    width: 250px;
    height:210px;
    background-clip: cover;
    border-radius: 20px;

}

.img-quarto a{
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10px;
    padding-bottom: 10px;
    color: #3a6c60;
    font-weight: 400;
    width: 250px;
    text-align: center;
}

.descricao-pousada{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 100px auto 20px;
    
}

.card-pousada{
    width: 500px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px auto;

}

.card-pousada p{
    font-size: 14px;
    margin: auto 20px;
    font-weight:400;
}

.card-pousada h3{
    margin: 5px auto 10px 20px;
    font-size: 26px;
    font-weight: 400;
    text-shadow: gray 1px 1px 1px;
}

.card-pousada img{
    width: 150px;
    height: 150px;
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    box-shadow: 0 0 1em gray;

}

.card-pousada div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    background: linear-gradient(to right, #abd4e0, white);

    box-shadow:0 0 1em gray;
}

.paragrafo-curto{
    visibility:hidden;
}

footer{
    font-size: 16px;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;

    height: 200px;

    box-shadow: 0 0 1em gray;

    background: rgb(70,200,162);
    background: linear-gradient(281deg, rgba(70,200,162,1) 0%, rgba(7,203,145,1) 26%, rgba(7,35,56,1) 87%);

}

.footer-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: auto;

}

.footer-info div{
    width: 300px;

    display: flex;
    align-items: center;
    justify-content:space-evenly;

    margin: auto 5px;

}

.footer-info h4{
    font-size: 20px;
}

.footer-info div img{
    height: 40px;
    margin: auto 5px;
}

.footer-info div a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.footer-info div a:hover{
    color: hsl(286, 72%, 72%)
}

.footer-copyright{
    display: block;
    margin: auto;

    font-weight: 400;
    font-size: 20px;
}

