.container-imgs img{
    height:290px;
    width: 320px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 20px solid white;
    box-shadow: 1px 1px 5px gray;
    
}

.list-description{
    display: flex;
    flex-flow: row wrap;
}

.list-description li{
    width: 33%;
    height: 50px;
    text-align: left;
    
}

@media screen and (min-width: 481px) and (max-width: 768px){
    
    .container-imgs{
        display: flex;
        flex-flow: row wrap;
    }
   
    .container-imgs img{
        height: 250px;
        width: 250px;
    }
} /*1105px*/

@media screen and (min-width: 769px) and (max-width: 1105px){
    body{
        background: magenta;
    } 

    .container-imgs{
        width: 85%;
        flex-flow:row wrap;
    }

    .container-imgs img{
        flex-grow: 2;
        height: auto;
    }
}